@font-face {
  font-family: foragesFont
  src: url(LiberationSerif-Regular.ttf)
}

* {
  font-family: foragesFont
}

html, body, #wrapper, #main, #main-content {
  height: 100%
  min-height: 100% !important
  margin: 0
}

#main {
  background-color: #FFFFFF
}
#main-content {
  display: flex
  flex-direction: column
}

h1, h2 { text-align: center; margin: 0.5em 0 }
h3, p  { text-align: center; margin: 0.5em 0.5em }

a:link, a:visited { color: #449944; text-decoration: none }
a:hover, a:active { color: #FFAA44; text-decoration: none }

input { text-align: center; padding: 0.5em 0.5em; font-family: monospace }

::-webkit-input-placeholder { text-align: center; font-family: foragesFont }
:-moz-placeholder           { text-align: center; font-family: foragesFont }
::-moz-placeholder          { text-align: center; font-family: foragesFont }
:-ms-input-placeholder      { text-align: center; font-family: foragesFont }

.dim      { opacity: 0.5 }
.ddim     { opacity: 0.25 }
.inverted { filter: invert(100%) }
.blurred  { filter: blur(0.2em); opacity: 0.75 }

.map {
  display: flex
  flex: 1
}

.modal-suspension {
  position: absolute
  top: 0; left: 0; z-index: 1000
  width: 100vw; height: 100vh
  display: flex
  justify-content: center; align-items: center
}

.dialog-box {
  width: auto
  height: auto
  margin: 1em
  background-color: #ffffff
  border-style: solid
  border-color: #bbbbbb
  border-width: 2px
  border-radius: 10px
}

.dialog-header-div {
  width: auto
  height: auto
  border-bottom: solid 2px
  border-color: #bbbbbb
}

.dialog-body-div {
  width: auto
  height: auto
  display: flex
  flex-direction: column
}
